---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kaily</title>
  </head>

  <body>
    <Navbar />

    <main>
      <slot />
      {/* Optional area for pages to inject tabs or any section */}
      <slot name="tabs" />
    </main>
    <Footer />
  </body>
</html>
