---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer.astro";
import KailyTracking from "../components/KailyTracking.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kaily</title>
  </head>

  <body class="min-h-[100dvh] bg-(--background) text-(--foreground)">
    <Navbar />

    <main class="min-h-[100dvh]">
      <slot />
    </main>
    <Footer />
    <KailyTracking />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
